### 5,10, 15 agentes

- Age [25,60]
- Qualifications [0,4] "nurse;cpr;physio;doctor"
- Location ????
- Religion A,B,C
- Gender M/F
- Languages [1,3] spanish, catalan, english
- Race white, latin-american, black or asian
- Availabilities "15;39"

### 5, 8, 10 servicios

- Age [70,90]
- Type [0,4] "nurse;cpr;physio;doctor"
- Location ?????
- Religion A,B,C
- Gender M/F
- Languages [1,3] spanish, catalan, english
- Race white, latin-american, black or asian
- TimeSlot dos numeros entre 15 i 39

In [1]:
import pandas as pd
import numpy as np
from random import randrange,sample,randint,shuffle
from geopy.distance import distance

U = 30 #Nombre d'usuaris
A = 12 #Nombre d'agents
S = 120 #Nombre de serveis
TS = 12*5 #Nombre de time slots
dist = [2.5,5,15,25,35,45,60,70,80,90,95,100]

gender_labels = ['M','F']
religion_labels = ['A','B','C']
languages_labels = ["spanish", "catalan", "english"]
type_labels = ["","nurse", "cpr", "physio", "doctor"]
race_labels = ["white", "latin-american", "black", "asian"]

lat =[
"41.3815752781548","41.3559120196836","41.3482745236520","41.4629832100058",
"41.4205718274176","41.4200823434142","41.4410422907494","41.4131703459941",
"41.3680119940713","41.2902486755464","41.2965206008947","41.2980521776798",
"41.2986079051265","41.4255770243766","41.4092758094591", "41.3815752781548",
"41.3559120196836","41.3482745236520","41.4629832100058","41.4205718274176",
"41.4200823434142","41.4410422907494","41.4131703459941","41.3680119940713",
"41.2902486755464","41.2965206008947","41.2980521776798","41.2986079051265",
"41.4255770243766","41.4092758094591"]

long =[
"1.98513272094305","2.11713228334789","2.26488244348681","2.24786162179945",
"2.15257024090813","2.07977758336782","2.13520828449359","2.25664519810334",
"2.16001633375526","2.21418980601852","2.09379793713258","2.20410100139758",
"2.14110807067940","2.14907409962812","2.25351119355848","1.98513272094305",
"2.11713228334789","2.26488244348681","2.24786162179945","2.15257024090813",
"2.07977758336782","2.13520828449359","2.25664519810334","2.16001633375526",
"2.21418980601852","2.09379793713258","2.20410100139758","2.14110807067940",
"2.14907409962812","2.25351119355848" ]

In [2]:
def create_random_labels(labels, min_labels, max_labels, num):
    rows = []
    for i in range(num):
        rows.append([x for x in sample(labels, randrange(min_labels,max_labels+1))])
    return rows

In [4]:

df_agents = pd.DataFrame()

df_agents['Id'] = [x for x in range(A)]
df_agents['Age'] = [randint(25, 60) for x in range(A)]
df_agents['Qualifications'] = create_random_labels(type_labels, 0, 3, A)
df_agents['Location'] = [";".join(x) for x in zip(*[sample(lat,A), sample(long,A)])]
df_agents['Region'] = np.random.choice(religion_labels, A)
df_agents['Gender'] = np.random.choice(gender_labels, A)
df_agents['Languages'] = create_random_labels(languages_labels, 1, 2, A)
df_agents['Race'] = np.random.choice(race_labels, A)

TSA = []
for a in range(A):
    hours=randint(4, 12)
    if randint(0,1):
        TSA.append(([1]*hours+[0]*(12-hours))*5)
    else:
        TSA.append(([0]*(12-hours)+[1]*hours)*5)

df_agents['TSA'] = TSA

df_agents

,Id,Age,Qualifications,Location,Region,Gender,Languages,Race,TSA
0,0,49,"[cpr, doctor]",41.4255770243766;1.98513272094305,C,M,"[spanish, catalan]",black,"[1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, ..."
1,1,43,"[nurse, ]",41.4131703459941;2.09379793713258,A,F,[english],black,"[0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, ..."
2,2,30,"[cpr, nurse, ]",41.2965206008947;2.13520828449359,B,F,"[catalan, english]",black,"[0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, ..."
3,3,31,[],41.2980521776798;2.21418980601852,C,F,[spanish],white,"[1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, ..."
4,4,44,"[nurse, doctor]",41.4629832100058;2.13520828449359,B,F,"[english, spanish]",black,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
5,5,51,[],41.4410422907494;2.15257024090813,A,F,[spanish],white,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
6,6,34,[],41.2986079051265;2.26488244348681,C,M,[english],latin-american,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
7,7,46,"[, nurse]",41.3482745236520;2.07977758336782,A,M,[spanish],asian,"[0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, ..."
8,8,26,"[cpr, nurse]",41.4410422907494;2.25664519810334,A,M,[spanish],asian,"[0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, ..."
9,9,27,"[, doctor]",41.3559120196836;2.07977758336782,B,F,[english],asian,"[1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, ..."
10,10,30,"[doctor, physio]",41.4205718274176;2.25351119355848,B,F,"[english, catalan]",asian,"[1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, ..."
11,11,26,"[cpr, nurse]",41.3815752781548;2.25351119355848,C,F,"[spanish, english]",asian,"[0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, ..."

In [5]:
#usuaris

df_usuaris = pd.DataFrame()

df_usuaris['Id'] = [x for x in range(U)]
df_usuaris['Age'] = [randint(70, 90) for x in range(U)]
df_usuaris['Location'] = [";".join(x) for x in zip(*[sample(lat,U), sample(long,U)])]
#df_usuaris['Region'] = np.random.choice(religion_labels, U)
df_usuaris['Gender'] = np.random.choice(gender_labels, U)
df_usuaris['Languages'] = np.random.choice(race_labels, U)#create_random_labels(languages_labels, 1, 1, U)
df_usuaris['Race'] = np.random.choice(race_labels, U)

df_usuaris

,Id,Age,Location,Gender,Languages,Race
0,0,84,41.4410422907494;2.21418980601852,F,white,black
1,1,78,41.4200823434142;2.25351119355848,F,black,asian
2,2,79,41.2980521776798;2.14907409962812,M,black,latin-american
3,3,81,41.2965206008947;2.26488244348681,F,black,asian
4,4,76,41.2902486755464;2.13520828449359,M,white,white
5,5,73,41.4410422907494;2.07977758336782,M,latin-american,black
6,6,71,41.3482745236520;2.13520828449359,M,white,white
7,7,78,41.4629832100058;2.09379793713258,M,black,latin-american
8,8,79,41.4131703459941;2.14907409962812,M,latin-american,asian
9,9,84,41.4092758094591;2.14110807067940,F,white,asian
10,10,82,41.4255770243766;2.25351119355848,F,asian,latin-american
11,11,81,41.3559120196836;2.20410100139758,M,asian,asian
12,12,86,41.2986079051265;2.25664519810334,F,black,asian
13,13,74,41.2986079051265;2.24786162179945,F,asian,white
14,14,86,41.4092758094591;2.07977758336782,M,latin-american,asian
15,15,72,41.3482745236520;2.25664519810334,F,black,asian
16,16,70,41.4255770243766;2.14110807067940,F,asian,asian
17,17,81,41.2902486755464;1.98513272094305,M,white,latin-american
18,18,90,41.3815752781548;2.09379793713258,F,asian,latin-american
19,19,74,41.3559120196836;2.15257024090813,F,asian,white
20,20,77,41.4205718274176;2.21418980601852,M,white,white
21,21,70,41.3680119940713;2.11713228334789,F,asian,white
22,22,76,41.4205718274176;2.24786162179945,F,white,latin-american
23,23,80,41.4200823434142;2.15257024090813,F,black,latin-american
24,24,87,41.2965206008947;2.11713228334789,M,white,asian
25,25,90,41.2980521776798;2.16001633375526,M,white,latin-american
26,26,75,41.4131703459941;1.98513272094305,F,asian,latin-american
27,27,89,41.3680119940713;2.16001633375526,M,asian,white
28,28,88,41.3815752781548;2.20410100139758,F,white,latin-american
29,29,84,41.4629832100058;2.26488244348681,M,black,asian

In [6]:
#services

def serviceTimeSlot(dist=dist):
    repetitions = 1
    duration = randint(1, 4)
    slot = randint(0,99)
    for i in range(len(dist)):
        if slot<dist[i]:
            day = [0]*i+[1]*duration+[0]*(len(dist)-duration-i)
            if len(day)>12:
                day = day[-12:]
            break
    service = [day]*repetitions+[[0]*12]*(5-repetitions)
    shuffle(service)
    return service

df_serveis = pd.DataFrame()

df_serveis['Id'] = [x for x in range(S)]
df_serveis['user'] = [sample(list(df_usuaris['Id']),1)[0] for x in range(S)]
df_serveis['Type'] = np.random.choice(type_labels, S)#create_random_labels(type_labels, 0, 1, S)
df_serveis['TimeSlot'] = [serviceTimeSlot() for x in range(S)]

df_serveis
#df.to_csv("services_" + str(num) + ".csv", sep = ";",index=False)

      Id  user    Type                                           TimeSlot
0      0    24  doctor  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, ...
1      1    14  doctor  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, ...
2      2     5   nurse  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, ...
3      3    14     cpr  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, ...
4      4     5  doctor  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, ...
..   ...   ...     ...                                                ...
115  115    15          [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, ...
116  116     0          [[0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0], [0, 0, ...
117  117     3  doctor  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, ...
118  118     3  doctor  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, ...
119  119     1   nurse  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, ...

[120 rows x 4 columns]

In [7]:
SU = df_serveis[['user','Type','Id']].groupby(by=['user','Type']).agg(list)['Id'].to_list()

In [8]:
def sim_score(agent,user,service,non_valid=-1000):
        sim = 0
        if service.Type in agent.Qualifications :
            sim -= user.Age - agent.Age
            if agent.Gender == user.Gender:
                sim += 50
            num_common_lang = len(set(user.Languages) & set(agent.Languages))
            if num_common_lang == 1:
                sim += 100
            if agent.Race == user.Race:
                sim += 25
            sim -= int(distance(agent.Location, user.Location).km)
        else:
             sim = non_valid
        return sim

In [9]:
def compute_quantiles(r,q,non_valid=-1000):    
    for (x,y), value in np.ndenumerate(r):
        pass
        if value>=q[2]:
            r[x,y]=4
        elif value>=q[1]:
            r[x,y]=3
        elif value>=q[0]:
            r[x,y]=2
        elif value > -1000:
            r[x,y]=1
        else:
            r[x,y]=0
    return r

In [10]:
r = np.ones((A,S))
for a in df_agents.iterrows():
    a=a[1]
    for s in df_serveis.iterrows():
        s=s[1]
        r[a.Id,s.Id] = sim_score(a,df_usuaris.iloc[s.user],s)

r = compute_quantiles(r,np.quantile(r.flatten()[r.flatten()>-1000],[0.25,0.50,0.75]))
np.unique(r, return_counts=True)

(array([0., 1., 2., 3., 4.]), array([952, 119, 116, 122, 131]))

In [11]:
with open('instance.txt', 'w') as f:
    f.write('#U\n')
    f.write(str(U)+'\n')
    f.write('#S'+'\n')
    f.write(str(S)+'\n')
    f.write('#A\n')
    f.write(str(A)+'\n')
    f.write('#TS\n')
    f.write(str(TS)+'\n')
    f.write('#SEQ\n')
    for e in SU:
        f.write(str(e).replace('[','').replace(']','').replace(',','')+'\n')
    f.write('#TSA(i)\n')
    for e in df_agents['TSA'].to_list():
        f.write(str(e).replace('[','').replace(']','').replace(',','')+'\n')
    f.write('#TSS(i)\n')
    for e in df_serveis['TimeSlot'].to_list():
        f.write(str(e).replace('[','').replace(']','').replace(',','')+'\n')
    f.write('#r(i,j)\n')
    for e in r.tolist():
        f.write(str(e).replace('[','').replace(']','').replace(',','').replace('.0','')+'\n')
    f.write('#P\n-1\n#HN(i)\n')
    for e in df_agents['TSA'].to_list():
        if sum(e)<=35:
            f.write(str(sum(e))+'\n')
        else:
            f.write('35\n')
    f.write('#HE(i)\n')
    for e in df_agents['TSA'].to_list():
        if sum(e)<=35:
            f.write('0\n')
        else:
            f.write(str(sum(e)-35)+'\n')

In [210]:
r

array([[0., 0., 0., ..., 0., 0., 0.],
       [1., 3., 0., ..., 1., 3., 0.],
       [0., 0., 2., ..., 0., 0., 3.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])